@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z1hnf1');
  src:  url('fonts/icomoon.eot?z1hnf1#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?z1hnf1') format('truetype'),
  url('fonts/icomoon.woff?z1hnf1') format('woff'),
  url('fonts/icomoon.svg?z1hnf1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bullhorn:before {
  content: "\e91a";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-burger:before {
  content: "\e900";
}
.icon-overview:before {
  content: "\e901";
}
.icon-time:before {
  content: "\e902";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-xing2:before {
  content: "\ead4";
}
